.SectionMain {
    width: 100%;
    background-color: srgb(248, 235, 214);
}

.SectionMain {
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.Logo {
    margin-top: 80px;
}

.EmojiDiv {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 650px;
    height: 650px;
    border: 2px black solid;
    border-radius: 23px;
    overflow: hidden;
}

.EmojiDiv p {
    font-size: 500px;
    margin-top: -70px;
    margin-left: -20px;
}

.StartBtn p {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.StartBtn {
    margin: auto;
    height: 80px;
    width: 160px;
    border: 2px black solid;
    border-radius: 8px;
}

.RecordLIst {
    margin-left: -50px;
    font-size: 50px;
    display: flex;
}



